<mumbles-theme name='human' version='1.0'>
	<width>250</width>
	<height>80</height>
	<spacing>10</spacing>
	<icon>
		<x_pos>10</x_pos>
		<y_pos>35</y_pos>
                <width>20</width>
                <height>20</height>
	</icon>
	<text>
		<title>
			<font>
				<family>Free Sans</family>
				<color>#fff</color>
				<size>12</size>
			</font>
			<width>250</width>
			<height>20</height>
			<padding>
				<left>15</left>
				<right>5</right>
				<upper>8</upper>
				<lower>2</lower>
			</padding>
		</title>
		<message>
			<font>
				<family>Free Sans</family>
				<color>#777</color>
				<size>8</size>
			</font>
			<width>250</width>
			<height>60</height>
			<padding>
				<left>40</left>
				<right>5</right>
				<upper>12</upper>
				<lower>15</lower>
			</padding>
		</message>
	</text>
</mumbles-theme>
