<mumbles-theme name='default' version='1.0'>
	<width>265</width>
	<height>95</height>
	<use_system_colors>0</use_system_colors>
	<color>#000</color>
	<spacing>3</spacing>
	<icon>
		<x_pos>10</x_pos>
		<y_pos>30</y_pos>
	</icon>
	<text>
		<title>
			<font>
				<family>Droid Sans</family>
				<color>#fff</color>
				<size>11</size>
			</font>
			<width>250</width>
			<height>20</height>
			<padding>
				<left>15</left>
				<right>5</right>
				<upper>8</upper>
				<lower>2</lower>
			</padding>
		</title>
		<message>
			<font>
				<family>Droid Sans</family>
				<color>#fff</color>
				<size>9</size>
			</font>
			<width>250</width>
			<height>60</height>
			<padding>
				<left>45</left>
				<right>5</right>
				<upper>10</upper>
				<lower>15</lower>
			</padding>
		</message>
	</text>
</mumbles-theme>
