<mumbles-theme name='mumbles-round' version='1.0'>
	<width>250</width>
	<height>80</height>
	<icon>
		<x_pos>10</x_pos>
		<y_pos>25</y_pos>
	</icon>
	<text>
		<title>
			<font>Sans</font>
			<color>#fff</color>
			<size>10</size>
		</title>
		<message>
			<font>Sans</font>
			<color>#fff</color>
			<size>8</size>
		</message>
		<x_pos>38</x_pos>
		<y_pos>8</y_pos>
		<x_padding>15</x_padding>
		<y_padding>15</y_padding>
	</text>
</mumbles-theme>
